/* Variables */

:root {
  background: #f2f2f2;
  background: #81b3d2;
  background: #ffffff;
  background: #eeeeee;
  background: #766357;
  background: #888888;
  background: #000000;
}

/*Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: PT Sans, sans-serif;
  font-size: 14;
  line-height: 21;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #888888;
  background-image: url("img/bg.jpg");
  background-position: top above;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14;
  line-height: 26;
  color: black;
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: rgb(255, 255, 255);
}

.site-navigation-current a:not([href]) {
  background-color: #ffffff;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"), url("/fonts/CrimsonText-Bold.woff2") format("woff2"),
    url("/fonts/CrimsonText-Bold.woff") format("woff"),
    url("/fonts/CrimsonText-Bold.ttf") format("ttf"),
    url("/fonts/CrimsonText-Bold.eot") format("eot");
}

/* User navigation */

.site-navigation
  a:hover
  .site-navigation
  a:focus
  .site-navigation
  a:hover
  .site-navigation
  a:focus {
  background-color: #ffffff;
}

/* Features */

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h1 {
  font-size: 21px;
  line-height: 26px;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"), url("/fonts/CrimsonText-Bold.woff2") format("woff2"),
    url("/fonts/CrimsonText-Bold.woff") format("woff"),
    url("/fonts/CrimsonText-Bold.ttf") format("ttf"),
    url("/fonts/CrimsonText-Bold.eot") format("eot");
}

/* Main footer */

.main-footer {
  color: black;
  background-color: black;
  background-image: url("img/pattern-white");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: var(#000000);
}

.footer-contacts a:hover .footer-contacts a:focus {
  text-decoration: none;
}

/* Social button */
.social-button {
  color: #81b3d2;
}

.social-button:hover .social-button:focus {
  background-color: var(#81b3d2);
}

.footer-copyright .button:hover .footer-copyright .button:focus {
  color: #000000;
  background-color: var(#eeeeee);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"), url("/fonts/CrimsonText-Bold.woff2") format("woff2"),
    url("/fonts/CrimsonText-Bold.woff") format("woff"),
    url("/fonts/CrimsonText-Bold.ttf") format("ttf"),
    url("/fonts/CrimsonText-Bold.eot") format("eot");
}
